@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NotoSansMono/Regular.woff2) format('woff2'),
       url(/fonts/NotoSansMono/Regular.woff) format('woff'),
       url(/fonts/NotoSansMono/Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NotoSans/Regular.woff2) format('woff2'),
       url(/fonts/NotoSans/Regular.woff) format('woff'),
       url(/fonts/NotoSans/Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/NotoSans/SemiBold.woff2) format('woff2'),
       url(/fonts/NotoSans/SemiBold.woff) format('woff'),
       url(/fonts/NotoSans/SemiBold.ttf) format('truetype');
}